.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flash {
  font-family: "Helvetica";
  font-size: 12px;
  padding-top: 20px;
}

svg {
  padding-top: 20px;
}

input {
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Helvetica";
  margin-top: 20px;
  display: block;
	border: 0;
  background: white no-repeat;

  background-image: linear-gradient(to bottom, #1abc9c, #1abc9c), linear-gradient(to bottom, silver, silver);
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);

}

input:focus{
  background-size: 100% 2px, 100% 1px;
  outline: none;
}

.modal {
   border-radius: 30px;
   padding-top: 20px;
   background-color: #0d1828;
   min-width: 200px;
 }

 .overlay {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rebeccapurple;
 }
